{% macro sidebar_nav_link(label, icon, url="#", active=False) %}
<a href="{{ url }}" class="w-full py-1.5 px-1.5 flex flex-row gap-2 items-center hover:bg-slate-200 dark:hover:bg-slate-800 rounded">
    <span class="icon">{{ icon }}</span>
    <span class="label">{{ label }}</span>
</a>
{% endmacro %}