{% extends "base.jinja2" %}

{% block page_content %}
<h1 class="font-bold text-slate-700 dark:text-slate-300 text-3xl">Welcome to Blog Zero.</h1>

<div class="flex flex-col gap-5">
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. A eaque voluptas corrupti saepe, tempora praesentium.
        Labore sunt dicta omnis, corporis facilis dolor autem aperiam praesentium in atque veritatis ullam, unde fugiat
        alias ipsa corrupti voluptatum obcaecati! Nulla, quibusdam! Dicta earum temporibus pariatur doloribus vero
        voluptatem perspiciatis beatae totam, eos porro, quas consequuntur? Odit earum adipisci consequuntur nihil
        nesciunt at a eligendi laudantium fugit reiciendis consequatur nostrum omnis optio cumque quia recusandae
        quidem, eos distinctio iure non eius, rem blanditiis laboriosam voluptas! Neque consectetur dicta deserunt
        voluptas excepturi debitis exercitationem, quis perspiciatis ullam. Veniam explicabo ut aliquam.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum dolores vel aperiam deserunt quos eligendi iure at,
        natus excepturi laboriosam accusamus sequi neque nesciunt! A soluta impedit repellendus, assumenda obcaecati
        nostrum quasi temporibus ut saepe omnis, beatae similique minima eveniet odio praesentium repellat culpa animi
        quae nam pariatur ex dolor doloribus iste cupiditate? Sed, excepturi. Ex doloremque natus, accusantium
        reprehenderit quis atque ab doloribus debitis quia quibusdam impedit nisi nostrum praesentium incidunt eum
        harum, eaque animi, ea repellendus deleniti saepe fugit aperiam? Molestias ea, vitae recusandae similique
        aperiam perspiciatis quod, optio earum libero nobis distinctio ab doloribus id eaque quia. Accusantium, impedit!
    </p>
</div>
{% endblock page_content %}