{% extends "admin/layout.jinja2" %}

{% block title_suffix %}
{{" | Admin"}}
{% endblock title_suffix %}

{% block dashboard_content %}
<div class="p-5">
    <h1>Admin Page, welcome {{ current_user.username }}</h1>
</div>
{% endblock dashboard_content %}